body {
  min-width: 320px;
  background-color: whitesmoke;
}
/* header with background image */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url("../rohit-tandon-9wg5jCEPBsw-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

/* instead of nav bar */
.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 10px;
}

header a {
  color: black;
  font-size: 25px;
  margin-left: 25px;
}

/* no underline */
a {
  text-decoration: none;
}

/* seperating the main */
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

/* just the h2 in main */
.main > h2 {
  flex: 0 0 15%;
  text-align: right;
  border-right: 5px solid black;
  padding-right: 10px;
}

.main div {
  flex: 0 0 75%;
}

/* my picture in about me */
img {
  height: 125px;
  margin-right: 8px;
  display: inline-block;
  border: 5px solid black;
}

.main div p {
  display: inline-flex;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* project styling */
#main-project {
  background-image: url("../concertApp.png");
  background-size: cover;
  background-position: top;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 40px;
}

#scheduler {
  background-image: url("../Work-Day_Scheduler.png");
  background-size: cover;
  background-position: center;
}

#password {
  background-image: url("../Password-Generator.png");
  background-size: cover;
  background-position: center;
}

#dateable {
  background-image: url("../Dateable.png");
  background-size: cover;
  background-position: center;
}

/* all cards */
.flex-item {
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 10px);
  border: 5px solid black;
}

/* just the big project */
.flex-item:first-child {
  flex-basis: 100%;
  min-height: 450px;
}

/* all other projects */
.card {
  background-image: url("../benjamin-voros-phIFdC6lA4E-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  color: black;
  opacity: 0.75;
}

/* visual style */
.card:hover {
  opacity: 1;
}

/* footer with background image */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url("../kalen-emsley-Bkci_8qcdvQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 10px;
}

footer a {
  color: black;
  font-size: 25px;
  margin-left: 25px;
}

/* screen responsiveness */
@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .card {
    width: 100%;
  }
}
