header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: cornflowerblue;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 10px;
}

header a {
  color: black;
  font-size: 25px;
  margin-left: 25px;
  text-decoration: none;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: cornflowerblue;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 10px;
}

footer a {
  color: black;
  font-size: 20px;
  margin-left: 25px;
}

@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
